In [1]:
%reload_ext autoreload
%autoreload 2

In [158]:
import os
import pandas as pd
from datetime import datetime,timedelta
from pytz import timezone
import requests as rq
from bs4 import BeautifulSoup as bs
from urllib.parse import urlencode, urljoin, urlparse
import time

from pathlib import Path
DATAPATH = Path(r'data')

In [3]:
os.chdir('..')

In [12]:
from mbp.webscraping import get_team_name_to_ids, activate_web_driver
from mbp.paths import RAW_DATA_DIR

In [5]:
driver = activate_web_driver("firefox")

Installing firefox...
executable_path: /Users/auser/.local/bin/geckodriver

In [6]:
team_ids = get_team_name_to_ids(driver, {})
team_ids

{'A&M-Corpus Christi': '560639',
 'Abilene Christian': '560649',
 'Air Force': '561195',
 'Akron': '560651',
 'Alabama': '560658',
 'Alabama A&M': '560654',
 'Alabama St.': '560655',
 'Alcorn': '560664',
 'American': '560666',
 'App State': '560667',
 'Arizona': '560672',
 'Arizona St.': '560669',
 'Ark.-Pine Bluff': '560622',
 'Arkansas': '560676',
 'Arkansas St.': '560674',
 'Army West Point': '561197',
 'Auburn': '560680',
 'Austin Peay': '560682',
 'BYU': '560702',
 'Ball St.': '560683',
 'Baylor': '560687',
 'Bellarmine': '561098',
 'Belmont': '560635',
 'Bethune-Cookman': '560689',
 'Binghamton': '560691',
 'Boise St.': '560693',
 'Boston College': '560695',
 'Boston U.': '560696',
 'Bowling Green': '560699',
 'Bradley': '560700',
 'Brown': '560704',
 'Bryant': '560705',
 'Bucknell': '560707',
 'Buffalo': '560709',
 'Butler': '560711',
 'CSU Bakersfield': '560714',
 'CSUN': '560723',
 'Cal Poly': '560712',
 'Cal St. Fullerton': '560718',
 'California': '560729',
 'California Baptist': '561094',
 'Campbell': '560820',
 'Canisius': '560822',
 'Central Ark.': '561265',
 'Central Conn. St.': '560824',
 'Central Mich.': '560828',
 'Charleston So.': '560685',
 'Charlotte': '560798',
 'Chattanooga': '561164',
 'Chicago St.': '560830',
 'Cincinnati': '560832',
 'Clemson': '560836',
 'Cleveland St.': '560838',
 'Coastal Carolina': '560840',
 'Col. of Charleston': '560608',
 'Colgate': '560843',
 'Colorado': '560847',
 'Colorado St.': '560845',
 'Columbia': '560849',
 'Coppin St.': '560853',
 'Cornell': '560855',
 'Creighton': '560857',
 'Dartmouth': '560859',
 'Davidson': '560861',
 'Dayton': '560863',
 'DePaul': '560865',
 'Delaware': '560869',
 'Delaware St.': '560867',
 'Denver': '560871',
 'Detroit Mercy': '560873',
 'Drake': '560875',
 'Drexel': '560877',
 'Duke': '560879',
 'Duquesne': '560881',
 'ETSU': '560885',
 'East Carolina': '560883',
 'Eastern Ill.': '560887',
 'Eastern Ky.': '560889',
 'Eastern Mich.': '560891',
 'Eastern Wash.': '560892',
 'Elon': '560610',
 'Evansville': '560893',
 'FDU': '560897',
 'FGCU': '560643',
 'FIU': '560903',
 'Fairfield': '560895',
 'Fla. Atlantic': '560901',
 'Florida': '560908',
 'Florida A&M': '560899',
 'Florida St.': '560905',
 'Fordham': '560909',
 'Fresno St.': '560716',
 'Furman': '560911',
 'Ga. Southern': '560919',
 'Gardner-Webb': '560612',
 'George Mason': '560913',
 'George Washington': '560915',
 'Georgetown': '560917',
 'Georgia': '560924',
 'Georgia St.': '560920',
 'Georgia Tech': '560922',
 'Gonzaga': '560926',
 'Grambling': '560929',
 'Grand Canyon': '560614',
 'Green Bay': '561249',
 'Hampton': '560931',
 'Harvard': '560935',
 'Hawaii': '560937',
 'High Point': '560637',
 'Hofstra': '560939',
 'Holy Cross': '560941',
 'Houston': '560945',
 'Houston Christian': '560943',
 'Howard': '560947',
 'IUPUI': '560624',
 'Idaho': '560951',
 'Idaho St.': '560949',
 'Illinois': '560955',
 'Illinois St.': '560953',
 'Indiana': '560558',
 'Indiana St.': '560557',
 'Iona': '560562',
 'Iowa': '560567',
 'Iowa St.': '560565',
 'Jackson St.': '560569',
 'Jacksonville': '560573',
 'Jacksonville St.': '560571',
 'James Madison': '560575',
 'Kansas': '560579',
 'Kansas City': '560626',
 'Kansas St.': '560577',
 'Kennesaw St.': '560616',
 'Kent St.': '560581',
 'Kentucky': '560583',
 'LIU': '560596',
 'LMU (CA)': '560733',
 'LSU': '560600',
 'La Salle': '560585',
 'Lafayette': '560587',
 'Lamar University': '560589',
 'Le Moyne': '561749',
 'Lehigh': '560591',
 'Liberty': '560593',
 'Lindenwood': '560555',
 'Lipscomb': '560641',
 'Little Rock': '560678',
 'Long Beach St.': '560721',
 'Longwood': '560598',
 'Louisiana': '561145',
 'Louisiana Tech': '560602',
 'Louisville': '560604',
 'Loyola Chicago': '560735',
 'Loyola Maryland': '560731',
 'Maine': '560736',
 'Manhattan': '560738',
 'Marist': '560740',
 'Marquette': '560742',
 'Marshall': '560744',
 'Maryland': '560747',
 'Massachusetts': '560752',
 'McNeese': '560755',
 'Memphis': '560756',
 'Mercer': '560758',
 'Merrimack': '561096',
 'Miami (FL)': '560763',
 'Miami (OH)': '560761',
 'Michigan': '560767',
 'Michigan St.': '560765',
 'Middle Tenn.': '560769',
 'Milwaukee': '561253',
 'Minnesota': '560772',
 'Mississippi St.': '560773',
 'Mississippi Val.': '560775',
 'Missouri': '560780',
 'Missouri St.': '561141',
 'Monmouth': '560781',
 'Montana': '560785',
 'Montana St.': '560783',
 'Morehead St.': '560787',
 'Morgan St.': '560789',
 "Mount St. Mary's": '560791',
 'Murray St.': '560792',
 'N.C. A&T': '560974',
 'N.C. Central': '560976',
 'NC State': '560978',
 'NIU': '560994',
 'NJIT': '560961',
 'Navy': '561199',
 'Nebraska': '560804',
 'Nevada': '560810',
 'New Hampshire': '560958',
 'New Mexico': '560964',
 'New Mexico St.': '560963',
 'New Orleans': '560966',
 'Niagara': '560968',
 'Nicholls': '560970',
 'Norfolk St.': '560972',
 'North Ala.': '560647',
 'North Carolina': '560796',
 'North Dakota': '560981',
 'North Dakota St.': '560980',
 'North Florida': '560628',
 'North Texas': '560983',
 'Northeastern': '560988',
 'Northern Ariz.': '560989',
 'Northern Colo.': '560992',
 'Northern Ky.': '560998',
 'Northwestern': '561002',
 'Northwestern St.': '561000',
 'Notre Dame': '561004',
 'Oakland': '561006',
 'Ohio': '561010',
 'Ohio St.': '561008',
 'Oklahoma': '561014',
 'Oklahoma St.': '561012',
 'Old Dominion': '561016',
 'Ole Miss': '560777',
 'Omaha': '560806',
 'Oral Roberts': '561018',
 'Oregon': '561022',
 'Oregon St.': '561020',
 'Pacific': '561024',
 'Penn': '561029',
 'Penn St.': '561028',
 'Pepperdine': '561031',
 'Pittsburgh': '561033',
 'Portland': '561036',
 'Portland St.': '561035',
 'Prairie View': '561038',
 'Presbyterian': '560618',
 'Princeton': '561040',
 'Providence': '561042',
 'Purdue': '561044',
 'Purdue Fort Wayne': '560560',
 'Queens (NC)': '560552',
 'Quinnipiac': '561047',
 'Radford': '561049',
 'Rhode Island': '561050',
 'Rice': '561052',
 'Richmond': '561055',
 'Rider': '561056',
 'Robert Morris': '561059',
 'Rutgers': '561061',
 'SFA': '561150',
 'SIUE': '561131',
 'SMU': '561133',
 'Sacramento St.': '560726',
 'Sacred Heart': '561063',
 'Saint Francis (PA)': '561072',
 "Saint Joseph's": '561077',
 'Saint Louis': '561078',
 "Saint Mary's (CA)": '561080',
 "Saint Peter's": '561082',
 'Sam Houston': '561084',
 'Samford': '561086',
 'San Diego': '561090',
 'San Diego St.': '561088',
 'San Francisco': '561091',
 'San Jose St.': '561092',
 'Santa Clara': '561108',
 'Seattle U': '560620',
 'Seton Hall': '561110',
 'Siena': '561112',
 'South Alabama': '561113',
 'South Carolina': '561117',
 'South Carolina St.': '561115',
 'South Dakota': '561121',
 'South Dakota St.': '561119',
 'South Fla.': '561122',
 'Southeast Mo. St.': '561124',
 'Southeastern La.': '561126',
 'Southern California': '561127',
 'Southern Ill.': '561129',
 'Southern Ind.': '561269',
 'Southern Miss.': '561134',
 'Southern U.': '561136',
 'Southern Utah': '561139',
 'St. Bonaventure': '561067',
 "St. John's (NY)": '561074',
 'St. Thomas (MN)': '561106',
 'Stanford': '561147',
 'Stetson': '561152',
 'Stonehill': '561271',
 'Stony Brook': '561154',
 'Syracuse': '561156',
 'TCU': '561172',
 'Tarleton St.': '561104',
 'Temple': '561158',
 'Tennessee': '561166',
 'Tennessee St.': '561160',
 'Tennessee Tech': '561162',
 'Tex. A&M-Commerce': '561267',
 'Texas': '561179',
 'Texas A&M': '561170',
 'Texas Southern': '561174',
 'Texas St.': '561143',
 'Texas Tech': '561176',
 'The Citadel': '560834',
 'Toledo': '561186',
 'Towson': '561188',
 'Troy': '561190',
 'Tulane': '561192',
 'Tulsa': '561194',
 'UAB': '560659',
 'UAlbany': '560662',
 'UC Davis': '560813',
 'UC Irvine': '560815',
 'UC Riverside': '560819',
 'UC San Diego': '561100',
 'UC Santa Barbara': '560727',
 'UCF': '560826',
 'UCLA': '560817',
 'UConn': '560851',
 'UIC': '560956',
 'UIW': '560631',
 'ULM': '560985',
 'UMBC': '560746',
 'UMES': '560750',
 'UMass Lowell': '560606',
 'UNC Asheville': '560795',
 'UNC Greensboro': '560800',
 'UNCW': '560802',
 'UNI': '560995',
 'UNLV': '560808',
 'USC Upstate': '560633',
 'UT Arlington': '561178',
 'UT Martin': '561168',
 'UTEP': '561182',
 'UTRGV': '561026',
 'UTSA': '561184',
 'Utah': '561204',
 'Utah St.': '561202',
 'Utah Tech': '561102',
 'Utah Valley': '560646',
 'VCU': '561214',
 'VMI': '561216',
 'Valparaiso': '561206',
 'Vanderbilt': '561208',
 'Vermont': '561210',
 'Villanova': '561212',
 'Virginia': '561220',
 'Virginia Tech': '561218',
 'Wagner': '561222',
 'Wake Forest': '561224',
 'Washington': '561228',
 'Washington St.': '561226',
 'Weber St.': '561230',
 'West Virginia': '561232',
 'Western Caro.': '561235',
 'Western Ill.': '561238',
 'Western Ky.': '561239',
 'Western Mich.': '561241',
 'Wichita St.': '561243',
 'William & Mary': '561245',
 'Winthrop': '561247',
 'Wisconsin': '561251',
 'Wofford': '560632',
 'Wright St.': '561255',
 'Wyoming': '561258',
 'Xavier': '561259',
 'Yale': '561262',
 'Youngstown St.': '561264'}

In [138]:
df = pd.DataFrame.from_dict(team_ids.items())
df.head()

df = df.rename(columns={0: 'team_name', 1: 'team_id'})
df.reset_index()
# Save to raw data directory
df.to_csv(f"{RAW_DATA_DIR}/mbb_team_names_to_number.csv")

In [238]:
df = pd.read_csv(f"{RAW_DATA_DIR}/mbb_team_names_to_number.csv", index_col=0)
df

              team_name  team_id
0    A&M-Corpus Christi   560639
1     Abilene Christian   560649
2             Air Force   561195
3                 Akron   560651
4               Alabama   560658
..                  ...      ...
357          Wright St.   561255
358             Wyoming   561258
359              Xavier   561259
360                Yale   561262
361      Youngstown St.   561264

[362 rows x 2 columns]

In [139]:
from mbp.constants import DAYS, OFF_SEASON_START, REGULAR_SEASON_START

# https://stats.ncaa.org/contests/livestream_scoreboards?utf8=%E2%9C%93&game_sport_year_ctl_id=16460&conference_id=0&conference_id=0&tournament_id=&division=11&commit=Submit

SEASON = ""
TODAY = datetime.now(timezone("EST"))
LASTWEEK = (TODAY - timedelta(days=DAYS))
DATE_TO = TODAY.strftime("%m/%d/%y")
DATE_FROM = LASTWEEK.strftime("%m/%d/%y")

CURRENT_MONTH = TODAY.strftime("%m")
print(f"Current month: {CURRENT_MONTH}")

all_season_types = pd.DataFrame()

Current month: 10

In [144]:
team_id = df[:][df['team_name'].str.contains("Washington St.")]['team_id'].iloc[0]
team_id

'561226'

In [240]:
raw_year = '2023'
dt = datetime.strptime(raw_year, '%Y')
formatted_date = f"{raw_year}-{str(int(dt.strftime('%y')) + 1)}"
formatted_date

'2023-24'

In [214]:
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.by import By

select_form = driver.find_element(By.ID, "year_list")
select = Select(select_form.find_element(By.NAME, 'year_id'))

# Format date
dt = datetime.strptime(raw_year, '%Y')
formatted_date = f"{raw_year}-{str(int(dt.strftime('%y')) + 1)}"

select.select_by_value(formatted_date)

NoSuchElementException: Message: Unable to locate element: [name="year_id"]; For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
RemoteError@chrome://remote/content/shared/RemoteError.sys.mjs:8:8
WebDriverError@chrome://remote/content/shared/webdriver/Errors.sys.mjs:189:5
NoSuchElementError@chrome://remote/content/shared/webdriver/Errors.sys.mjs:507:5
dom.find/</<@chrome://remote/content/shared/DOM.sys.mjs:132:16

In [219]:
from mbp.webscraping import TEAMS_URL
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.common.by import By

team_name = "Washington St."
team_id = df[:][df['team_name'].str.contains(team_name)]['team_id'].iloc[0]

team_url = f"{TEAMS_URL}/{team_id}"
wait = WebDriverWait(driver, 10)
wait.until(lambda d: driver.find_element(By.CSS_SELECTOR, "a[target=ATHLETICS_URL]"))

select_form = driver.find_element(By.ID, "year_list")
select = Select(select_form)

# Format date
dt = datetime.strptime(raw_year, '%Y')
formatted_date = f"{raw_year}-{str(int(dt.strftime('%y')) + 1)}"

select.select_by_visible_text(formatted_date)

In [223]:
driver.get(team_url)

In [198]:
from mbp.webscraping import TEAMS_URL
from selenium.webdriver.support.wait import WebDriverWait
from selenium.webdriver.common.by import By

team_name = "Washington St."
team_id = df[:][df['team_name'].str.contains(team_name)]['team_id'].iloc[0]

team_url = f"{TEAMS_URL}/{team_id}"
wait = WebDriverWait(driver, 10)
wait.until(lambda d: driver.find_element(By.CSS_SELECTOR, "a[target=ATHLETICS_URL]"))

# Select the correct year
select = driver.find_element(By.ID, "year_list")

# Format date
dt = datetime.strptime(raw_year, '%Y')
formatted_date = f"{raw_year}-{str(int(dt.strftime('%y')) + 1)}"

select.select_by_value(formatted_date)

tables = driver.find_elements(By.CSS_SELECTOR, "#contentarea table>tbody")

schedule_result_element = None
for table in tables:
    try:
        legend = table.find_element(By.CSS_SELECTOR, "fieldset>legend")
        print(legend.text)
        if legend.text == "Schedule/Results":
            schedule_result_element = table
    except:
        pass

Schedule/Results

In [199]:
# Find the game dates, opponent, results, and attendance (if available)
listing = schedule_result_element.find_elements(By.CSS_SELECTOR, "tbody > tr")
games = []
for li in listing:
    style = li.get_attribute("style")
    if li.get_attribute("style") == "":
        games.append(li)
len(games)

32

In [200]:
season_games = []
for (idx, game) in enumerate(games[1:]):
    # for i in range(4):
    rows = game.find_elements(By.CSS_SELECTOR, "td")
    date = rows[0].text
    opponent = rows[1].text
    try:
        result = rows[2].text or None
    except:
        result = None
    try:
        attendance = rows[3].text or None
    except:
        attendance = None

    res = (date, opponent, result, attendance)
    season_games.append(res)

season_games

[('11/06/2023 TBA', 'Idaho', None, None),
 ('11/10/2023 TBA', 'Prairie View', None, None),
 ('11/18/2023 TBA', 'Mississippi St.\n@Uncasville, CT', None, None),
 ('11/19/2023 TBA', 'TBA\n@Uncasville, CT', None, None),
 ('11/24/2023 TBA', 'Utah Tech', None, None),
 ('11/27/2023 TBA', 'Eastern Wash.', None, None),
 ('12/02/2023 TBA', 'Portland St.', None, None),
 ('12/06/2023 TBA', 'UC Riverside', None, None),
 ('12/10/2023 TBA', 'Grambling', None, None),
 ('12/16/2023 TBA', 'Santa Clara\n@Phoenix, AZ', None, None),
 ('12/23/2023 TBA', 'Boise St.\n@Spokane, WA', None, None),
 ('12/29/2023 TBA', '@ Colorado', None, None),
 ('12/31/2023 TBA', '@ Utah', None, None),
 ('01/04/2024 TBA', 'Oregon St.', None, None),
 ('01/06/2024 TBA', 'Oregon', None, None),
 ('01/10/2024 10:30 PM', '@ Southern California', None, None),
 ('01/13/2024 TBA', 'Arizona', None, None),
 ('01/18/2024 11:00 PM', '@ Stanford', None, None),
 ('01/20/2024 05:00 PM', '@ California', None, None),
 ('01/24/2024 TBA', 'Utah', None, None),
 ('01/27/2024 TBA', 'Colorado', None, None),
 ('02/03/2024 TBA', '@ Washington', None, None),
 ('02/08/2024 TBA', '@ Oregon St.', None, None),
 ('02/10/2024 TBA', '@ Oregon', None, None),
 ('02/15/2024 TBA', 'California', None, None),
 ('02/17/2024 TBA', 'Stanford', None, None),
 ('02/22/2024 11:00 PM', '@ Arizona', None, None),
 ('02/24/2024 TBA', '@ Arizona St.', None, None),
 ('02/29/2024 TBA', 'Southern California', None, None),
 ('03/02/2024 07:00 PM', 'UCLA', None, None),
 ('03/07/2024 TBA', 'Washington', None, None)]

In [201]:
games_df = pd.DataFrame(season_games)
games_df.rename(columns={0: 'raw_datetime', 1: 'opponent', 2: 'result', 3: 'attendance'}, inplace=True)
games_df

           raw_datetime                          opponent result attendance
0        11/06/2023 TBA                             Idaho   None       None
1        11/10/2023 TBA                      Prairie View   None       None
2        11/18/2023 TBA  Mississippi St.\n@Uncasville, CT   None       None
3        11/19/2023 TBA              TBA\n@Uncasville, CT   None       None
4        11/24/2023 TBA                         Utah Tech   None       None
5        11/27/2023 TBA                     Eastern Wash.   None       None
6        12/02/2023 TBA                      Portland St.   None       None
7        12/06/2023 TBA                      UC Riverside   None       None
8        12/10/2023 TBA                         Grambling   None       None
9        12/16/2023 TBA         Santa Clara\n@Phoenix, AZ   None       None
10       12/23/2023 TBA           Boise St.\n@Spokane, WA   None       None
11       12/29/2023 TBA                        @ Colorado   None       None
12       12/31/2023 TBA                            @ Utah   None       None
13       01/04/2024 TBA                        Oregon St.   None       None
14       01/06/2024 TBA                            Oregon   None       None
15  01/10/2024 10:30 PM             @ Southern California   None       None
16       01/13/2024 TBA                           Arizona   None       None
17  01/18/2024 11:00 PM                        @ Stanford   None       None
18  01/20/2024 05:00 PM                      @ California   None       None
19       01/24/2024 TBA                              Utah   None       None
20       01/27/2024 TBA                          Colorado   None       None
21       02/03/2024 TBA                      @ Washington   None       None
22       02/08/2024 TBA                      @ Oregon St.   None       None
23       02/10/2024 TBA                          @ Oregon   None       None
24       02/15/2024 TBA                        California   None       None
25       02/17/2024 TBA                          Stanford   None       None
26  02/22/2024 11:00 PM                         @ Arizona   None       None
27       02/24/2024 TBA                     @ Arizona St.   None       None
28       02/29/2024 TBA               Southern California   None       None
29  03/02/2024 07:00 PM                              UCLA   None       None
30       03/07/2024 TBA                        Washington   None       None

In [203]:
def split_and_parse(s: str):
    parts = s.split(' ')
    dt = datetime.strptime(parts[0], '%m/%d/%Y')

    if parts[1] == 'TBA':
        time = None
    else:
        time_str = ' '.join(parts[1:])
        time = datetime.strptime(time_str, '%I:%M %p')
        dt = dt.replace(hour=time.hour, minute=time.minute)

    return dt

games_df2 = games_df.copy()
for idx, row in games_df.iterrows():
    dt = split_and_parse(row['raw_datetime'])
    games_df2.at[idx, 'datetime'] = pd.to_datetime(dt)

games_df3 = games_df2.drop(columns='raw_datetime')
games_df3

# Year
year = '2023'

save_dir = Path(f"{RAW_DATA_DIR}") / "seasons" / year
if not save_dir.exists():
    save_dir.mkdir(parents=True, exist_ok=True)

games_df3.to_csv(save_dir / f"{team_name}_{year}.csv")

In [234]:
from mbp.webscraping import get_team_games_for_year
from mbp.paths import SEASONS_DIR

team_name = 'Arizona'
year = '2023'

games_df3 = get_team_games_for_year(driver, df, team_name, year)
save_path = SEASONS_DIR / year / f"{team_name}.csv"
games_df3.to_csv(save_path)

In [243]:
from mbp.data import download_raw_data_for_team

# washst_df = download_raw_data_for_team('Washington St.', '2023')
arizona_df = download_raw_data_for_team('Arizona', '2023')

arizona_df.head()

Installing firefox...
executable_path: /Users/auser/.local/bin/geckodriver

       opponent result attendance            datetime
0    Morgan St.   None       None 2023-11-06 21:30:00
1        @ Duke   None       None 2023-11-10 19:00:00
2   Southern U.   None       None 2023-11-13 20:00:00
3       Belmont   None       None 2023-11-17 23:00:00
4  UT Arlington   None       None 2023-11-19 18:00:00